{% extends 'base.html.twig' %}

{% block title 'title.custom_themes'|trans %}
{% block page_classes 'theme-list-page' %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: themes}, with_context=false) }}
{% endblock %}

{% block body %}
  {% from 'user/_macros.html.twig' import user_link %}

  <h1 class="page-heading">{{ block('title') }}</h1>

  <nav>
    <p><a href="{{ path('create_theme') }}" class="button">{{ 'action.new_theme'|trans }}</a></p>
  </nav>

  <table class="table">
    <thead>
      <tr>
        <th>{{ 'label.name'|trans }}</th>
        <th>{{ 'label.last_revised'|trans }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for theme in themes %}
        <tr>
          <td>{{ user_link(theme.author) }}/<strong>{{ theme.name }}</strong></td>
          <td>
            {% with {date: theme.latestRevision.modified|localizeddate('long', 'short')} %}
              <time datetime="{{ theme.latestRevision.modified|date('c') }}" title="{{ date }}" class="relative-time">
                {{- date -}}
              </time>
            {% endwith %}
          </td>
          <td>
            {% if is_granted('edit', theme) %}
              <a href="{{ path('edit_theme', {name: theme.name, username: theme.author.username}) }}"
                 class="button button--inline">
                {{- 'action.edit_theme'|trans -}}
              </a>
            {% endif %}

            <a href="{{ path('theme_history', {id: theme.id}) }}"
               class="button button--inline button--secondary">{{ 'label.history'|trans }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ include('_includes/pagination.html.twig', {pager: themes}, with_context=false) }}
{% endblock %}
